<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Pipeline Project Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A project management Bootstrap theme by Medium Rare">
    <link href="~/assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link href="~/css/icon.css" rel="stylesheet" />
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/assets/css/theme.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>


    <div class="layout layout-nav-side">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
            <a class="navbar-brand" href="index-1.html">
                <img alt="Pipeline" src="\assets\img\logo.svg">
            </a>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-block d-lg-none ml-2">
                    <div class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="Image" src="\assets\img\avatar-male-4.jpeg" class="avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="nav-side-user.html" class="dropdown-item">Profile</a>
                            <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
                <ul class="navbar-nav d-lg-block">

                    <li class="nav-item">

                        <a class="nav-link" href="index-1.html">Overview</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2">Pages</a>
                        <div id="submenu-2" class="collapse">
                            <ul class="nav nav-small flex-column">

                                <li class="nav-item">
                                    <a class="nav-link" href="pages-app.html">App Pages</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="pages-utility.html">Utility Pages</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="pages-layouts.html">Layouts</a>
                                </li>

                            </ul>
                        </div>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3">Components</a>
                        <div id="submenu-3" class="collapse">
                            <ul class="nav nav-small flex-column">

                                <li class="nav-item">
                                    <a class="nav-link" href="components-bootstrap.html">Bootstrap</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="components-pipeline.html">Pipeline</a>
                                </li>

                            </ul>
                        </div>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="documentation\index.html">Documentation</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="documentation\changelog.html">Changelog</a>

                    </li>

                </ul>
                <hr>
                <div class="d-none d-lg-block w-100">
                    <span class="text-small text-muted">Quick Links</span>
                    <ul class="nav nav-small flex-column mt-2">
                        <li class="nav-item">
                            <a href="nav-side-team.html" class="nav-link">Team Overview</a>
                        </li>
                        <li class="nav-item">
                            <a href="nav-side-project.html" class="nav-link">Project</a>
                        </li>
                        <li class="nav-item">
                            <a href="nav-side-task.html" class="nav-link">Single Task</a>
                        </li>
                        <li class="nav-item">
                            <a href="nav-side-kanban-board.html" class="nav-link">Kanban Board</a>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div>
                    <form>
                        <div class="input-group input-group-dark input-group-round">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">search</i>
                                </span>
                            </div>
                            <input type="search" class="form-control form-control-dark" placeholder="Search" aria-label="Search app" aria-describedby="search-app">
                        </div>
                    </form>
                    <div class="dropdown mt-2">
                        <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="newContentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add New
                        </button>
                        <div class="dropdown-menu" aria-labelledby="newContentButton">
                            <a class="dropdown-item" href="#">Team</a>
                            <a class="dropdown-item" href="#">Project</a>
                            <a class="dropdown-item" href="#">Task</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <div class="dropup">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="Image" src="\assets\img\avatar-male-4.jpeg" class="avatar">
                    </a>
                    <div class="dropdown-menu">
                        <a href="nav-side-user.html" class="dropdown-item">Profile</a>
                        <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

    </div>

    <form class="modal fade" method="post" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">delete</h5>
                    <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden id="deleteInput" name="Id" />
                </div>
                <!--end of modal body-->
                <div class="modal-footer">
                    <button role="button" class="btn btn-primary" type="submit">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </form>


    <script asp-append-version="true" type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/autosize.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/popper.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/prism.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/draggable.bundle.legacy.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/swap-animation.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/dropzone.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/list.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/js/theme.js"></script>
    <script asp-append-version="true" src="~/js/sweetalert2.js"></script>
    <script asp-append-version="true" src="~/js/site.js"></script>


    <link href="~/css/login.css" rel="stylesheet" />

    @RenderSection("Scripts", required: false)

</body>

</html>

